body {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    color: #03471F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
  }
  
  header h1 {
    margin: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #03471F;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    margin: 0 10px;
  }
  
  
  
  main h2 {
    /* font-size: 4em; Increased font size */
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 75px;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    color: #03471F;
  }
  
  main p {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0 0 40px 0;
  }
  
  main a {
    background-color: #C6FCDD;
    color: #153e26;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 0 6%;
    /* position: static; */
    font-weight: 600;
  font-style: normal;
  align-content: center;
  }
  
  main a:hover {
    background-color: #d9f9e7;
  }

  main h5 {
    color: #153e26;
  }
  



  
  .toggleContainer {
    margin-left: 100px;
    height: 40px;
    width: 150px;
     position:relative;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     width: fit-content;
     border: 3px solid #C6FCDD;
     border-radius: 8px;
     background: #C6FCDD;
     font-weight: bold;
     color: #03471F;
     cursor: pointer;
   }
   .toggleContainer::before {
     content: '';
     position: absolute;
     width: 50%;
     height: 100%;
     left: 0%;
     border-radius: 8px;
     background: white;
     transition: all 0.3s;
   }
   .toggleCheckbox:checked + .toggleContainer::before {
      left: 50%;
   }
   .toggleContainer div {
     padding: 6px;
     text-align: center;
     z-index: 1;
   }
   .toggleCheckbox {
     display: none;
   }
   .toggleCheckbox:checked + .toggleContainer div:first-child{
     color: #03471F;
     transition: color 0.3s;
   }
   .toggleCheckbox:checked + .toggleContainer div:last-child{
     color: #03471F;
     transition: color 0.3s;
   }
   .toggleCheckbox + .toggleContainer div:first-child{
     color: #03471F;
     transition: color 0.3s;
   }
   .toggleCheckbox + .toggleContainer div:last-child{
     color: #03471F;
     transition: color 0.3s;
   }
   .tt {
    margin: 1px 10px;
   }
   .togle {
    margin: 10px 30px 10px 30px;
    
   }
   .card {
    margin: 20;
    padding: 20;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
   }
   .card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
  
   .row {
    margin: 5%;
    padding: 20px;
    
   }
   .col {
    margin: 20px;
    padding: 20px;
   }
   .pd {
    padding: 20px;

   }
   .card-body {
    line-height: 30px;
}

.amt {
   width: 20rem;
    margin: 5px 0;
    text-align: right;
}
.scrd {
  height: 25rem;
}
#form {
  width: 40%;
  justify-content: center;
  margin: 20px 450px 50px 500px;
  padding: 40px;
  text-align: center;
  line-height: 40px;
}
#fname {
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}